<%= form_for company_user  do |form| %>
  <div class="mt-4">
    <%= render 'layouts/model_errors', model_instance: @company_user %>
  </div>

  <div class="mb-3 mt-3">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="mb-3 mt-3">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control"  %>
  </div>

  <div class="mb-3 form-check p-0">
    <%= form.button id: "company_user_save", class: "btn btn-primary", 'data-disable-with': "Saving...", name: 'commit' do %>
      <i class="far fa-save"></i> Save
    <% end %>
  </div>
<% end %>
