<div class="mt-5">
  <%= link_to new_company_company_user_path(@company), class: "btn btn-primary" do %>
      <i class="fas fa-plus"></i> New User
  <% end %>
</div>

<div class="mt-5">
  <div class="table-responsive">
    <table class="table mt-3 table-striped table-hover">
      <thead class="thead-light ">
        <tr>
          <th scope="col">Firs Name</th>
          <th scope="col">Last Name</th>
          <th scope="col"> User Id</th>
          <th scope="col">Email</th>
          <th scope="col">Last Seen</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="index_company_user">
        <% company_users.each do |company_user| %>
          <tr class="company_user_row">
            <td class="p-0">
              <%= link_to company_user, class: "d-block p-3 no-deco", title:"#{company_user.first_name}", id:"show_company_user" do %>
                <%= company_user.first_name%>
              <% end %>
            </td>
            <td class="p-0">
              <%= link_to company_user, class: "d-block p-3 no-deco", title:"#{company_user.first_name}" do %>
                <%= company_user.last_name%>
              <% end %>
            </td>
            <td class="p-0">
              <%= link_to company_user,class: "d-block p-3 no-deco", title:"#{company_user.first_name}" do %>
                <%= company_user.id%>
              <% end %>
            </td>
            <td class="p-0">
              <%= link_to company_user, class: "d-block p-3 no-deco", title:"#{company_user.first_name}" do %>
                <%= company_user.email%>
              <% end %>
            </td>
            <td class="p-0">
              <%= link_to company_user, class: "d-block p-3 no-deco", title:"#{company_user.first_name}" do %>
                <%= company_user.last_sign_in_at.nil? ? "Never signed in" : time_ago_in_words(company_user.last_sign_in_at) %>
              <% end %>
             </td>
            <td>
              <%= link_to edit_company_user_path(company_user), class: "btn btn-info", id:"company_user_edit" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </td>
            <td>
              <%= link_to company_user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning ", id: "company_user_destroy" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <table>
  </div>
</div>
