<div class="container studies article mt-7 mt-sm-8 mb-5">
  <%= render 'layouts/flash_notice' %>

  <div class="mb-4">
    <%= link_to company_path(@company_user.company_id), class: " btn btn-outline-dark" do %>
      <i class="fas fa-arrow-circle-left"></i> Back
    <% end %>

    <%= link_to edit_company_user_path(@company_user), class: "ml-3 btn btn-info", id:"company_user_edit" do %>
      <i class="fas fa-edit"></i> Edit
    <% end %>

    <%= link_to company_user_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "ml-3 btn btn-warning ", id: "company_user_destroy" do %>
      <i class="fas fa-trash-alt"></i> Delete
    <% end %>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div>
        <ul class="list-group data">
          <li class="list-group-item"><b>First Name : </b><%= @company_user.first_name %></li>
          <li class="list-group-item"><b>Last Name : </b><%= @company_user.last_name %></li>
          <li class="list-group-item"><b>Email : </b><%= @company_user.email %></li>
          <li class="list-group-item"><b>User Id : </b><%= @company_user.id %></li>
          <li class="list-group-item"><b>Sign In Count : </b><%= @company_user.sign_in_count %></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <%= render 'trends_activities/trends_activities_summary' %>
    </div>
  </div>

  <%= render 'trends_activities/tends_activities_chart' %>

  <div class="mt-4">
    <%= render 'trends_activities/trends_activites_table' %>
  </div>
</div>
